<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<html>
  <head>
    <script>
      function Edit(id) {
        window.location.href = "/userEdit?id=" + id;
      }
    </script>

  </head>
  <body>
    <h1>Activity - List</h1>
    <table>
        <tr>
            <th>id</th>
            <th>group_name</th>
            <th>people</th>
            <th>email</th>
        </tr>
        <% for ( var i = 0 ; i < activities.length ; i++){ %>
            <tr>
                <td>
                    <%= activities[i].id  %>
                </td>
                <td>
                    <%= activities[i].group_name  %>
                </td>
                <td>
                    <%= activities[i].people  %>
                </td>
                <td>
                    <%= activities[i].email  %>
                </td>

                <td>
                　　<input type="button" name="edit" value="Edit" 
                    onclick="Edit( '<%= activities[i].id  %>' );" />
                </td>
                
    
            </tr>
        <% } %>
        <input type='submit' value='Add' onclick="javascript: location.href='add'">
        
    </table>
  </body>
</html>
