<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<html>
  <head>
    <script>
      function Edit(id) {
        window.location.href = "/userEdit?id=" + id;
      }
      function Delete(id) {
        var rs = confirm(`Confirm to delete${id}?`);
        if (rs) {
            window.location.href = "/userDelete?id=" + id;
        }
      }
      function Search() {
        var userid = document.getElementsByName('suserid')[0].value;
        window.location.href = "/?user=" + userid;;
      }
    </script>

  </head>
  <body>
    <h1>Activity - List</h1>
    <div class="search">
        <label>UserId：</label>
        <input type="text" name="suserid" value="<%=user  %>" placeholder="input the userid">
        <input type="button" name="sSearch" value="Search" onclick="Search();">
    </div>
    <table>
        <tr>
            <th>id</th>
            <th>group_name</th>
            <th>people</th>
            <th>email</th>
        </tr>
        <% for ( var i = 0 ; i < activities.length ; i++){ %>
            <tr>
                <td>
                    <%= activities[i].id  %>
                </td>
                <td>
                    <%= activities[i].group_name  %>
                </td>
                <td>
                    <%= activities[i].people  %>
                </td>
                <td>
                    <%= activities[i].email  %>
                </td>

                <td>
                　　<input type="button" name="edit" value="Edit" 
                    onclick="Edit( '<%= activities[i].id  %>' );" />
                </td>
                <td>
                  <input type="button" name="delete" value="Delete" onclick="Delete('<%= activities[i].id  %>');" />
                </td>
    
            </tr>
        <% } %>
        <input type='submit' value='Add' onclick="javascript: location.href='add'">
        
    </table>
  </body>
</html>
